.wapper.wapper.wapper {
    padding: 10px 5% 20px 5%;
    background-color: var(--concrete-color);
    position: relative;
    min-height: calc(100vh - 60px - 64px);
}

.btnCreate {
    position: absolute;
    right: 5%;
    top: 10px;
}

.cardWapper.cardWapper.cardWapper {
    padding: 20px 0px 0 0;
    padding-left: 0px;
}

.rightBox {
    padding-top: 20px;
    padding-left: 8px;
}

.headerCardWapper {
    height: max-content;
    color: var(--white-color);
    padding: 8px 8px 8px 22px;
    display: flex;
    background-color: var(--primary-color);
    flex-direction: column;
    justify-content: center;
}

.titleCard {
    font-size: 18px;
    font-weight: 600;
    line-height:28px;
    width: 100%;
}

.textTimeView {
    font-size: var(--font-size-small);
    font-weight: 200;
    color: var(--geyser-color);
    line-height: var(--font-size-medium);
    font-weight: bold;
}

.postDetailContainer {
    width: 100%;
    background-color: var(--secondary-color);

    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.createWapper.createWapper.createWapper {
    padding-top: 15px;
}

.createContainer.createContainer.createContainer{
    padding: 15px 32px 20px 32px;
    background-color: var(--geyser-color);
}

.textFieldCreate.textFieldCreate.textFieldCreate {
    background-color: var(--white-color);
    margin: 10px 0;
}

.textCreate {
    font-size: var(--font-size-x-large);
}

.quillWapper.quillWapper.quillWapper {
    height: max-content;
    background-color: var(--white-color);
    margin-top: 10px;
    padding: 0;
}

.quillWapper.quillWapper.quillWapper > div:nth-child(2) {
    background-color: var(--white-color)
}

.quillStyle > div:nth-child(2) > div:nth-child(1){
    height: 150px !important;
}

.btnCreateWapper.btnCreateWapper.btnCreateWapper {
    justify-content: end;
    align-items: end;
    display: flex;
    padding: 15px 0px 0px 0px;
}

