.customButtonContainer {
    margin-left: 27px;
    padding-top: 10px;
}

.inboundFilterButtonContainer::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.inboundFilterButtonContainer {
    width: 100%;
    display: flex;
    overflow-x: scroll;

    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;
}

.nomal.nomal.nomal {
    background-color: var(--silver-color);
    padding: 11px 10px;
    border-radius: 4px;
    font-size: var(--font-size-small);
    line-height: var(--font-size-medium);
    width: max-content;
    color: var(--black-color);
    text-transform: inherit;
    font-weight: 700;
}