.dialogWrapper {
    position: relative;
    top: 25%;
    max-width: 500px;
    left: calc(50% - 260px);
    border-radius: 12px;

    background: #e0e0e0;
}

.dialogContainer {
    padding: 36px;
}

.dialogHeaderWrapper {
    margin-bottom: 28px;
    text-align: center;
}

.dialogHeader {
    font-weight: 550;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}

.agesFieldWrapper {
    margin-top: 8px;

    display: flex;
    align-items: center;
}

.ageField {
    max-width: 40px;
}

.ageField > div > input {
    padding: 8px;
    text-align: center;
}

.ageField > div > input::-webkit-outer-spin-button,
.ageField > div > input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ageField > div > input[type='number'] {
    -moz-appearance: textfield;
}

.ageDivider {
    margin: 0px 8px;
}

.backdropWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(0, 0, 0, 0.5);
}
