.commentContainer {
    padding-bottom: 10px;
    display: flex;
    width: 100%;
}

.imageCircle {
    border-radius: 50%;
    height: 90px;
    width: 90px;
    align-self: center;
}

.imgWapper {
    display: flex;
    flex-direction: column;
    width: 140px;
    padding: 15px 0 15px 0;
}

.userNameIdWapper {
    align-self: center;
    display: flex;
    flex-direction: column;
}

.commentWapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc(100% - 180px);

    padding: 0 20px 20px 20px;
}

.repComment {
    padding-top: 10px;
}

.commentTextWapper {
    padding-top: 10px;
}

.textTime {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    color: var(--gray-color);
    padding-top: 15px;
}

.comment {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: var(--black-color);
}

.commentRef {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: var(--black-color);

    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}

.reportText {
    position: absolute;
    bottom: 0;
    right: 80px;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    cursor: pointer;
}

.replyText {
    position: absolute;
    bottom: 0;
    right: 20px;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    cursor: pointer;
}

.seeMoreComment {
    position: absolute;
    bottom: 0;
    right: 160px;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    cursor: pointer;
}

.deleteText {
    position: absolute;
    bottom: 0;
    left: 20px;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    cursor: pointer;
}

.editText {
    position: absolute;
    bottom: 0;
    left: 70px;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    cursor: pointer;
}

.replyText:hover ,
.reportText:hover ,
.seeMoreComment:hover,
.editText:hover,
.deleteText:hover {
    text-decoration: underline;
}

.repComment {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    padding: 10px;
    margin-top: 10px;
}

.repName {
    padding-bottom: 7px;
    font-weight: 700;

    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}

.commentReplyWapper {
    padding: 10px 40px 10px 160px;
    border-top: 2px solid var(--silver-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.reportWapper {
    padding: 10px 40px 10px 160px;
    border-top: 2px solid var(--silver-color);
}

.textFieldCreate.textFieldCreate.textFieldCreate {
    background-color: var(--white-color);
}

.btnCreateCommentWapper {
    padding-left: 20px;
}

.backgroundWhite.backgroundWhite.backgroundWhite > div {
    background-color: var(--white-color)
}

.lineWapper {
    height: auto;
    width: 25px;
    /* border-left: 2px solid var(--silver-color); */
}

.boderBottom {
    /* border-bottom: 2px solid var(--silver-color); */
}

.line {
    height: 50%;
    width: 25px;
}

.wapper {
    display: flex;
    width: 100%;
}

.cardComment {
    width: 100%;
    border: 2px solid var(--silver-color);
    margin: 4px;
    border-radius: 8px;
    background-color: var(--background-comment-color);
}