.chatDetailWrapper {
    display: inline-block;
    margin-bottom: 8px;
    width: 100%;
}

.chatDetailContainer {
    padding: 8px 12px;
    border-radius: 6px;
    max-width: 40%;
    background: #c4c4c4;
}

.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

.textDetail {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
