:root {
    --font-family-main: 'Roboto';
    --font-family-sans-serif: sans-serif;

    /* Main Colors */
    --primary-color: #1D6692;
    --secondary-color: #D5DFE6;
    --success-color: #29c038;
    --error-color: #ff0000;
    --warning-color: #f2c94c;
    --white-color: #ffffff;
    --black-color: #000000;
    --gray-color: #808080;
    --coral-color: #FF7361;
    --silver-color: #c4c4c4;
    --alto-color: #e0e0e0;

    /* text color */

    /* background color */
    --twilight-blue-color: #f5fdff;
    --geyser-color: #d5dfe6;
    --casper-color: #abc0cc;
    --horizon-color: #578199;

    /* Popular Border Colors */
    --catskill-white-color: #e2ebf0;
    --pink-swan-color: #bdb2b2;
    --caribbean-green-color: #00d884;

    /* Font Sizes */
    --font-size-x-small: 10px;
    --font-size-small: 12px;
    --font-size-medium: 14px;
    --font-size-large: 16px;
    --font-size-x-large: 18px;
    --font-size-xx-large: 20px;
    --font-size-xxx-large: 24px;
}

.activatedBreadcrumb {
    color: var(--black-colo);
}

.breadCrumb span {
    cursor: pointer;
}

.breadCrumb {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--black-colo);

    padding: 0px 10px 0px 10px;
}

.breadCrumb span {
    cursor: pointer;
}

html,
body {
    /* height: 100%; */
    padding: 0;
    margin: 0;
    font-family:  var(--font-family-main), var(--font-family-sans-serif);
    background-color: var(--twilight-blue-color);
}

.Toastify__toast--success {
    background: #29c038;
}

.Toastify__toast--error {
    background: #ff0000;
}

.Toastify__toast--warn {
    background: #f2c94c;
}

.Toastify__toast-body > div:last-child {
    flex: 1 1;
    color: #fff
}

.Toastify__toast-icon > svg {
    fill: #fff
}

.Toastify__close-button > svg {
    color: #fff
}
