.headerWapper {
    height: 300px;
    width: 100%;
    position: relative;
}

.title {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.headerImage.headerImage.headerImage {
    object-fit: contain;
    width: 100% ;
    /* position: relative ; */
    height: unset ;
}

.headerTitleWapper {
    position: absolute;
    display: flex;
    top: 25%;
    flex-direction: column;
    left: 50%;
}

.welcomeText {
    font-size: 20px;
    font-weight: 200;
}

.headerTitle {
    font-size: 35px;
    font-weight: 700;
}

.bodyWapper {
    padding: 30px 5% 50px 5%;
}

.trendingTitleWapper {
    padding-bottom: 20px;
}

.trendingWapper {

}

.cardWapper {
    padding-top: 30px;
}

.matingWapper.matingWapper.matingWapper {
    margin-top: 30px;
    -webkit-box-shadow: 0px 0px 13px -3px #777;
    box-shadow: 0px 0px 13px -3px #777;
}

.listCart.listCart.listCart {
    padding: 0;
    max-height: 318px;
    overflow: auto;

    /* border-right: 2px solid var(--silver-color);
    border-bottom: 2px solid var(--silver-color);
    border-left: 2px solid var(--silver-color);

    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px; */
}

.cardNewsWapper.cardNewsWapper.cardNewsWapper {
    padding: 4px;
}

.newsWapper {
    -webkit-box-shadow: 0px 0px 13px -3px #777;
    box-shadow: 0px 0px 13px -3px #777;
}